[2021-01-15 08:43] kenba opened #2 "Consider adding PhantomData to Image and Pipe memory objects"
Consider adding PhantomData to Image and Pipe memory objects to match the Buffer implementation of pull request #1.

[2021-01-16 09:30] kenba commented on #2
PhantomData was added to `Buffer` because a `Buffer` refers to an array/Vector of data of a given type and the PhantomData is used to hold the type information to help the Rust compiler's type checking.

`Image` and `Pipe` are different in that they refer to the underlying data in different ways:

* An `Image` refers to the underlying image in `cl_image_format` and `cl_image_desc` structures.
* A

[2021-01-16 09:52] kenba commented on #2
Unnecessary templates removed from methods in commit 7a2d015

[2021-01-16 09:52] #2 closed

[2021-03-06 16:05] kenba opened #5 "Consider replacing unwrap with expect for error handling"
Volker made a good point about using expect() instead on unwrap() for handling errors.

Investigate whether all uses of unwrap() are correct and replace with expect() or some other mechanism if not.

[2021-03-07 15:24] kenba commented on #5
The MIT effective rust examples (see: [A brief interlude: unwrapping isn't evil](http://web.mit.edu/rust-lang_v1.25/arch/amd64_ubuntu1404/share/doc/rust/html/book/first-edition/error-handling.html#a-brief-interlude-unwrapping-isnt-evil)) recommend only using unwrap():
* in examples and quick and dirty code;
* and when panicking indicates a bug in the program.

Clearly the library is currently usin

[2021-03-13 13:21] kenba commented on #5
All unwrap() calls outside of examples and tests changed to either mapping CString errors or expect() calls.

[2021-03-13 13:21] #5 closed

[2021-03-16 13:36] vmx opened #8 "Retrieving a program build log might be impossible"
The build log of a program might contain `nul` characters. Currently if it does, there is no way to retrieve the log as `Program::get_build_log()` only returns `Err(-9999)` (` CSTRING_UTF8_CONVERSION_ERROR`) when it encounters a `nul`.

A potential fix could be something along the lines of the following code, which strips away all `nul` characters.

[code]

When reading the spec it also seems that

[2021-03-16 20:21] kenba commented on #8
Thank you for considering this potential issue Volker.  However, I believe that this issue cannot occur in practice.

The OpenCL API is a `C` API. `nul` characters are string terminators in `C`. Therefore, it is not possible for a `C` string to *contain* a  `nul` character,. By definition, a `nul` character marks the *end* of a `C` string.

Also, please note:

    .map_err(|_| error_codes::CSTRING

[2021-03-16 21:02] vmx commented on #8
The reason I opened this issue is that it happens in practice. Reproducing it locally might be difficult as the code expects certain types of graphic cards. Would it help if I give you the bytes of the error message?

[2021-03-16 22:06] vmx commented on #8
Sorry for the long paste, but here is the error I'm getting (I've put in a manual line break to make it clear where the `nul` is:

[code]

I can understand that all my issues and PRs seem to be totally random. The reason is that I try to get our code base working with `opencl3` (porting over from `ocl`). I try to upstream as much as possible as to me the most powerful feature of open source it's t

[2021-03-16 22:54] vmx commented on #8
I prepared a branch of the real world example. As I said, you'd need to have one of the supported GPUs, but perhaps you have one. In order to see the output, as mentioned above run:

[code]

[2021-03-17 21:23] kenba commented on #8
Sorry, I should have guessed that this was a *real* problem!

Also, this is not the first log message to have extra nulls. @jsatka fixed an issue with multiple trailing nulls in the `cl3` repo. So, clearly some devices aren't conforming to the spec...

I think that your original proposal was along the right lines. Unfortunately, I'm away from home and can't fix it at the moment. Would you like to

[2021-03-18 09:12] vmx commented on #8
@kenba sure, I'm happy to do a PR. I've a question though. Should this only go into the `get_build_log()` as it is a known source of the problem? Or should the `to_str()` in `cl3` be changed to just replace all `nul`s instead of just the trailing ones?

Scanning all strings all the time sounds like a bit of waste, though I think I would do it directly in `to_str()`. If it then later turns out it i

[2021-03-18 12:37] jsatka commented on #8
I have also encountered this issue in practice and think this is a good initiative!

[2021-03-18 18:40] kenba commented on #8
Thanks @jsatka it's good to know that you've also encountered this issue. It's clearly one that's worth resolving!

I've had a think about how best to resolve this issue. And I think that you are right @vmx; the best solution may involve changing `CString` handling in [cl3](https://github.com/kenba/cl3) , instead of (or maybe in addition to) handling it in this library. To that end, I've raised [c

[2021-03-19 10:47] vmx commented on #8
I've commented on the commit (perhaps opening a PR would make future discussions easier): https://github.com/kenba/opencl3/commit/ddd426044a14cc7895646acc30cfe1e52f66ed63#r48441299

[2021-03-19 14:33] kenba commented on #8
Thanks for your comments Volker. Perhaps you are right, I should have opened a PR to make discussions easier, I'm just not used to raising PRs on my own repo.

Your interpretation of `*_unchecked()` methods sounds reasonable to me. They are not the correct solution to this issue, I have removed them.

I would prefer to solve the issue in this library instead of the `cl3` library.
I designed the `c

[2021-03-19 15:22] vmx commented on #8
There's lots of thing to learn when suddenly random strangers contribute :)

I wouldn't mind if the decision is to remove it again. I think this library is young enough to still make those changes. So if you feel strongly about it, I'd say make this change and remove `to_str()` from `cl3`. Though it would probably lead to some kind of `to_str()` call in all functions in `opencl3` that are using it

[2021-03-19 16:04] kenba commented on #8
Thank you @vmx. I'm always happy to learn new things and I'm very happy that the libraries are useful to you.

I've incorporated the change that you proposed to the `to_str` function.
I'll copy the changes over to main and publish a new version of `cl3` on `crates.io` soon.

I'll consider moving `to_str()` from `cl3` to `opencl3` later. I'm currently considering how best to implement: Clone, Send

[2021-03-19 18:16] vmx commented on #8
Thanks a lot, this should fix the issue. I'll have a closer look at it next week.

[2021-03-19 18:16] #8 closed

[2021-03-20 11:55] kenba opened #9 "Support running multiple instances of the same kernel simultaneously"
@vmx has created a couple of PRs to add `Clone` traits: #4 and #7 and another PR (#6) to add `Send` and `Sync` traits.

I'm not happy with these PR's, I don't think that they take the correct approach.

# Cloning

The first issue is what should Clone` do?

@vmx has implemented `Clone` using the appropriate OpenCL `clRetain*` functions.

According to the OpenCL spec, the `clRetain*` functions, incr

[2021-03-21 16:00] kenba opened #10 "Change the API to use String instead of ffi::CString"
It is easier for users to handle standard Rust `String`s than Rust `ffi::CString`s.
Therefore, the API should use standard Rust `String`s or `str`s instead of `ffi::CString`s or `ffi::CStr` wherever possible.

Note: this change depends on [c3 issue #4](https://github.com/kenba/cl3/issues/4).

[2021-03-22 11:18] vmx commented on #8
I want to confirm that I'm now able to get the build log. I've seen that there are some related upcoming changes I'll have a look at now.

[2021-03-22 13:16] vmx commented on #9
tl;dr: My comment is about devices and platforms. Both don't need reference counting, so I proposing implementing `Copy + Clone` for both of them (or at least for devices, which is what I need).

@kenba: In the `Multi-threading` section, you mention that multiple context might be created. Currently if you [create context from a device](https://github.com/kenba/opencl3/blob/ae56fa5deeca9ae3c40ec429

[2021-03-22 14:05] vmx commented on #9
tl;dr: This comment is about implementing `Sync` and `Send` for devices and platforms.

As mentioned in the previous comment, in the code I'm working on, we initialize a list of devices and platform once at startup. I think that's a pattern worth supporting. But in order to be able to use things in [lazy_static](https://crates.io/crates/lazy_static)/[once_cell](https://crates.io/crates/once_cell),

[2021-03-23 14:28] vmx commented on #9
tl;dr: This comment is about implementing `Send` for most of the types.

I don't have much experience with multi-threaded Rust code, so I read about things and tried out what it might look like. "immutable Rust references" sounds like an `Arc` to me. @kenba please let me know if you meant something else. An example I came up with is this:

[code]

In this case I would want to do run some context o

[2021-03-23 20:24] kenba commented on #9
@vmx you raise a very good point about `Context::from_device` consuming `Device`. I shall change it so that it takes a reference to a device instead.

With regards to your views on `Clone`, `Send` and `Sync` they are completely different to mine. Which are that `Clone`, `Send` and `Sync` are only required for `mutable` data and objects. Most of the types in this library can (and should) be immutab

[2021-03-24 10:38] vmx commented on #9
I agree that as much immutability should be used as possible. Those those traits are not about mutability. They are about ownership. Let's take `Send` as an example. It used to signal that an object can safely be moved between threads, which is what I am after.

The Rust API Guidelines mention in the interoperability section, specifically that you should [implement `Copy` and `Clone` eagerly](http

[2021-03-28 08:26] kenba commented on #10
Re-open to change API to replace use of `CStr` with `str` and `CString` with `String` wherever possible.

[2021-03-28 12:46] kenba commented on #10
Now uses new [cl3](https://crates.io/crates/cl3) 0.2.0 API.
All functions now accept `str` with the exception of `Program::compile` which takes: `header_include_names: &[&CStr]`.

[2021-03-28 12:46] #10 closed

[2021-03-28 19:17] kenba commented on #9
@vmx I've been able to implement `Copy`, `Clone`, `Send` and `Sync` traits for  `Platform` and `Device`.
However, I need to redesign `Kernel` and `Context` to implement their lifetimes properly and I didn't have time this weekend, but hopefully I will next weekend.

[2021-04-03 15:26] kenba commented on #9
I've thoroughly considered sharing OpenCL objects across threads and come to the conclusion that there is a fundamental issue with OpenCL object lifetimes which makes sharing OpenCL objects derived from a `Context` unsafe across threads.

Object lifetimes are one of Rust's great strengths but they are rarely, if ever, considered when using other programming languages. Unfortunately, the OpenCL API

[2021-04-03 15:26] #9 closed

[2021-04-03 16:31] kenba opened #12 "Improve OpenCL error handling"
Currently OpenCL errors are just reported as the OpenCL Error code from `cl.h`.
It would be more helpful if OpenCL errors could provide the OpenCL name of the error as provided by the `ClError` type from the [cl3](https://github.com/kenba/cl3) library.

[2021-04-06 10:26] vmx commented on #12
I think it would be useful to have even richer error types in `opencl3`, e.g. attaching some error information from OpenCL. Due to opencl3 being a bit of a higher level library it's sometimes not possible to get all the underlying information. Let me give an example:

With `opencl3` you can build a propgram via [`Context::build_program_from_source()`](https://github.com/kenba/opencl3/blob/5f640c77

[2021-04-06 17:58] kenba commented on #12
Thank you @vmx, you raise a good point about the error logs from `Context::build_program_from_source()` and I'm sure that there are issues with other Context methods too.

I'm not happy with the current design of Context containing Programs, Kernels and Command Queues which leads to this kind of issue. And although I understand your desire to return build logs as error messages (for example), it i

[2021-04-07 08:20] vmx commented on #12
Not doing the error message as part of the error is fine with me. My proposals were only based on the current design of the `Context`. I don't know if it helps, the code I'm working on had a similar abstraction as your `Context`, which might be an indication that those higher level abstractions are application specific (e.g. do you have a single queue or multiple) and perhaps `opencl3` would then

[2021-04-11 11:37] kenba commented on #12
@vmx I have redesigned `Context` in the `develop` branch.

 `Context` now only holds the list of devices which it was created for. This solves other issues with circular dependencies and function duplication. It is now a "lower level" interface providing "building blocks" but hopefully, it is a more: flexible, useful and consistent interface for most users.

[2021-04-11 18:52] vmx commented on #12
@kenba Thanks. I've ported my code to the current code of the `develop` branch and it seems to work (it compiles, I'll run tests later this week). The new code is now more similar to how `ocl` does things, so it might make it also for other people porting their code easier.

This also means that my comment about including the build error with the error message is no longer applicable.

[2021-04-12 18:46] kenba commented on #12
Thanks @vmx. Let me know if you have any problems running the tests.
I'll look into `ocl` and see if there are further changes I can make to ease porting.

[2021-04-13 08:50] vmx commented on #12
The testing went well with the development branch.

[2021-04-17 11:57] kenba commented on #12
That's good news about the testing @vmx.

I've now changed `Program` to store the names of the OpenCL kernels in the program. This change requires the compile, link and build methods to take mutable references, which they should have done in any case, since they change the state of  `Program`.

It is now preferred to use methods such as `create_and_build_from_source`  to create a Program. These me

[2021-04-17 11:57] #12 closed

[2021-04-20 12:00] vmx commented on #12
Thanks adding a function that also return the build log.

I've a point about error handling in general. Returning just a string is often not ideal (some good points are also here https://blog.burntsushi.net/rust-error-handling/#defining-your-own-error-type). When you want to deal with an error on the application side, it's often useful to know where the error comes from and you can often to this b

[2021-04-24 11:00] kenba commented on #12
Thank you for sharing your thoughts @vmx. Here are my thoughts.

I designed the `opencl3` library to provide a simple, object-based model of the OpenCL API. My intention was to provide an easy-to-use API layer over the OpenCL API. In practice there are two layers: the functional layer provided by the `cl3` library and the `object-based` layer provided by this library.

I have tried NOT to obfuscat

[2021-04-26 09:05] vmx commented on #12
I see two ways:

  1. opencl3 provides some useful higher level methods like `create_and_build_from_sources()`. But then it should wrap the error in its own structured error type. E.g. something like `ClErrorWithMessage(cl_int, String)` (the `ClError` could also become an enum, the details don't matter, it's about the general idea). So that libraries building on top opencl3 can deal with those err

[2021-04-27 18:58] kenba commented on #12
Thank you @vmx, I think that you are right and that the library may be better off *without* the `create_and_build_from_sources()` functions. As it stands they are only valid for a context with one device because they only return the build log from the first device...

I think that it is a useful convenience for someone who doesn't care about error types and simply wants to get OpenCL running on a

[2021-05-18 09:52] vmx opened #13 "Higher level create_sub_buffer call"
The current sub buffer API is quite low level. I'd like to see a higher level API that needs less imports and boilerplate code. My code currently looks like that:

[code]

The `buffer_create_type` is always `CL_BUFFER_CREATE_TYPE_REGION` according to the [current OpenCL spec](https://www.khronos.org/registry/OpenCL/specs/3.0-unified/html/OpenCL_API.html#subbuffer-create-info-table) and I also find

[2021-05-18 16:00] kenba commented on #13
Good call Volker! Yes that interface makes no sense at this level, especially considering that there is only one value for `cl_buffer_create_type`!

I've implemented the interface you propose in the `develop` branch. I plan to update `opencl3` to version `0.3.0` sometime soon and I'll publish this change then.

[2021-05-20 11:15] vmx commented on #13
Thanks that's great. The code works for me.

[2021-05-20 11:20] vmx opened #14 "Adding Debug derives"
As there will be a new release soon, I thought it's the right to bring up another thing.

It would be great if there could be `Debug` implementations for the types. I guess for most of them a `#[derive(Debug)]` is good enough. It's useful e.g. if you've several buffers and want to distinguish them during debugging. Though I'd actually need it for my code base for `ExecuteKernel` and `CommandQueue`

[2021-05-25 13:09] vmx commented on #14
I haven't had a closer look at your changes, but for my use case I was able to derive the `Debug` from the types that I've used. Thanks!

[2021-05-25 13:09] #14 closed

[2021-05-25 13:09] #13 closed

[2021-05-25 13:12] vmx opened #15 "It's safe to implement `Send` for most of the types"
I know this has been discussed before, but back then it was conflated with other topics. This issue is focused on [`Send`].

@kenba, you've made sure that `opencl3` is a safe wrapper around an OpenCL FFI. For example the types are not `Copy` or `Clone` to have these safety guarantees as good as possible. Following the [Rust API Guidelines about interoperability], those types should then implement

[2021-05-26 19:01] kenba commented on #15
@vmx please feel free to submit a pull request with `Send`s for the classes that you want to implement it.
However, I'm not convinced that `Send` should be implemented for `Kernel`, considering the comments in the [OpenCL API](https://www.khronos.org/registry/OpenCL/specs/3.0-unified/html/OpenCL_API.html#_host_environment_and_thread_safety).

[2021-05-27 14:21] vmx commented on #15
Let's focus on that for now (before I do a PR), as I would want to implement `Send` for `Kernel`. I guess your concerns are about the [Multiple Host Threads] section, the core if it is:

With implementing `Send` it will still only possible for a single thread to access the `cl_kernel` object. It won't enable concurrent access/calls. For concurrent access by multiple threads you would need to imple

[2021-05-27 15:50] kenba commented on #15
Thanks Volker. Since `Send` just enables you to move things off the main thread, you can implement it for whatever you want.

[2021-05-28 11:17] vmx commented on #15
I went ahead an implemented `Send` for almost every struct. The only struct that doesn't implement is `Send` is `cl_image_desc`. I didn't spent time thinking about whether it could implement `Send` as I don't see great use of it being `Send`. I'd probably rather change the API so that it isn't even needed to be constructed when images are used (but that's surely out of scope for this PR).

[2021-05-30 09:07] kenba commented on #15
@vmx has implemented `Send` for most of the types.

[2021-05-30 09:07] #15 closed

[2021-06-28 09:21] vmx opened #18 "Return UUID as array"
The [UUID related calls](https://www.khronos.org/registry/OpenCL/specs/3.0-unified/html/OpenCL_Ext.html#_additions_to_chapter_4_of_the_opencl_3_0_api_specification) return a fixed sized array. It might make sense to return arrays of those instead of vectors.

I don't have a strong opinion on that, I just thought I bring it up, while I'm working with those function calls. In my code, where I use th

[2021-06-28 09:30] vmx commented on #18
Related to this (let me know if I should open a separate issue). It would be great if `cl3::ffi::cl_ext::CL_UUID_SIZE_KHR` could be re-exported into `opencl3`, so that I can create such a fixed sized array without importing `cl3`.

[2021-06-29 19:35] kenba commented on #18
Hi Volker, my opinion on the UUID related calls is that they are just defined in an extension at the moment and it's possible to access the data using the `device` functions as you have done.

It may be nice to convert UUIDs to arrays now. However, it may be even nicer to convert them into UUIDs from the uuid crate. Or, in the future, when 128 bit integers are likely to be available in `rust` it w

[2021-07-02 07:18] jleflang opened #20 "Restore `c_void` to program.rs"
There is a compilation error due to `c_void` not being in-scope in program.rs when the `CL_VERSION_2_2` feature is enabled. It  was removed after #12 was resolved.

[2021-07-02 07:50] kenba commented on #20
Sorry about that James.
I've just updated it in the `develop` branch. Please can you confirm that the fix works for you?

[2021-07-02 08:03] jleflang commented on #20
That fixes this issue. Thank you!

[2021-07-03 09:02] #20 closed

[2021-07-03 09:06] #18 closed

[2021-07-07 15:40] vmx opened #21 "Device::available() should return a boolean"
Currently `Device::available()` returns a `cl_int` which is a bit confusing (I just had a bug where my logic was wrong due to that). I propose making it return a boolean. That is also what the OpenCL spec suggests: https://www.khronos.org/registry/OpenCL/specs/3.0-unified/html/OpenCL_API.html#CL_DEVICE_AVAILABLE. That applies also to other `clGetDeviceInfo` calls, but the `CL_DEVICE_AVAILABLE` is

[2021-07-07 20:15] kenba commented on #21
Yes Volker, I agree that the `clGetDeviceInfo` calls that return `cl_bool` in the spec should be cast to Rust `bool` in `opencl3`.

Please feel free to cast the return types in the relevant `Device` methods in a PR.

[2021-07-08 11:10] vmx opened #23 "Use Rust types instead of cl-sys type aliases"
As #22 is a breaking change I'd like to bring up that I think `opencl3` should always return Rust types where possible. For example instead of returning a `cl_uint`, returning a `u32`. Currently it's implicitly already the case that a `cl_uint` is a `u32`, and you can use it like that, but it is not clear from looking at the API documentation (only if you click on the actual type).

Many `cl_*` ty

[2021-07-08 11:14] vmx opened #24 "Use `bool` instead of `cl_bool`"
When you search the `opencl3` source code for `cl_bool`, you find some occurrences in the public API. I propose changing them to a Rust `bool` type.

`cl_bool` is a type alias for `u32`, so you need to use in `0` and `1` (or use the `CL_FALSE`/`CL_TRUE` constants), and cannot just use `true` or `false`, which I'd find more ergonomic.

I bring it up as #22 is a breaking change, so it might be the r

[2021-07-09 07:36] #21 closed

[2021-07-09 07:50] kenba commented on #24
Yes Volker, I agree that the calls that return `cl_bool` in the spec should be cast to Rust `bool` in `opencl3` to make the changes of issue #21 consistent across `opencl3`.

Please feel free to implement the change in a PR again. However, please use `!= CL_FALSE` as per the comment in PR #22.

As for the change breaking the API, it's not a problem I'll simply release the change under version '0.3

[2021-07-09 08:13] kenba commented on #23
Volker, I consider this to be different to issues #21 and #23.
They were about converting a `C` integer type representing a boolean to a rust `bool`, which is a logical change and may make the API more reliable, as demonstrated by PR #22.

The `cl_*` type aliases match the `OpenCL` API and make it easier for someone to understand from an OpenCL perspective. I can't see that it matters from a Rust

[2021-07-09 08:26] vmx commented on #24
I'm not only talking about returns, but also input values, e.g. in [`enqueue_read_buffer`](https://github.com/kenba/opencl3/blob/92496f03d66f21b5192811c6bcde772edb531bbb/src/command_queue.rs#L177).

Finding all functions that return a `cl_bool` might be harder to find, as some don't return `cl_bool`, but a `cl_uint` as in some cases in `cl3` there is not distinction made between those two. You wou

[2021-07-09 08:38] vmx commented on #23
Good points. I saw it from the Rust (not the OpenCL perspective) by someone reading the API docs. Given the `cl_bool` -> Rust `bool` change I thought it might be more consistent to have Rust types everywhere. Though practically it doesn't really make a difference. So your perspective makes sense to me, hence I'm closing this issue.

[2021-07-09 08:38] #23 closed

[2021-07-09 10:32] kenba commented on #24
On searching for `cl_bool` in the `opencl3` code, I didn't find any more return examples, just parameters in the `CommandQueue` `enqueue_*` methods and the `Sampler::create`, `normalize_coords` parameter.

The `Sampler::create` has a couple of other parameters that are also OpenCL typedefs: `cl_addressing_mode` and `cl_filter_mode`.
Changing the `normalize_coords` parameter to a Rust `bool` is unl

[2021-07-09 11:17] vmx commented on #24
Thanks for the detailed analysis. I actually sue `CL_BLOCKING` for `CommandQueue` `enqueue_*` already. As you know, I'd make the `opencl3` API a bit higher level and in that case introducing an enum with `Blocking`/`NonBlocking` and would use that as input value for `enqueue_*`.

I currently don't have the need for having all functions return Rust `bool`s, I won't do that for now, hence closing th

[2021-07-09 11:17] #24 closed

[2021-08-07 09:37] itayw opened #25 "Using set_event_callback"
Firstly, thank you very much for this library, I'm new to both Rust and OpenCL and find this library with its tests and examples as a great resource.

I'm trying to use `set_event_callback` from `opencl3/cl3` but cannot find any documentation or examples on how this can be done. Can you please point me to a doc/test if one is available for this?

My goal is for my code to be able to run kernel exe

[2021-08-07 15:25] kenba commented on #25
Thank you Itay, I'm glad to hear that you find the library useful.

I'm sorry about the lack of a call to `set_event_callback` from `opencl3`, that was an oversight by me.

I've added a new method `set_callback` to the `opencl3` `Event` struct and I've also added an example in `test_event` to show how it can be used to call a callback function. They are in the `develop` branch. Please let me know

[2021-08-08 11:09] itayw commented on #25
Thank you for your quick response, works as expected, however I'm reading
more about `wait_for_events` and I can see the point you made about being
easier and more useful.

*Itay Weinberger*
*CEO*

*joo.la <http://joo.la/> | GitHub <http://www.github.com/joola> | Twitter
<http://www.twitter.com/getjoola>*

On Sat, Aug 7, 2021 at 6:26 PM Ken Barker ***@***.***> wrote:

[2021-08-10 12:13] vmx opened #26 "Should `CommandQueue.html::enqueue_write_buffer` take a mutable buffer reference?"
I currently work on abstraction to make code work with both OpenCL and CUDA. The CUDA library I'm using ([RustaCUDA](https://github.com/bheisler/RustaCUDA) has a [similar Buffer abstraction](https://docs.rs/rustacuda/0.1.3/rustacuda/memory/struct.DeviceBuffer.html) as `opencl3`.

When copying data into the device memory, the CUDA library considers the buffer to be mutable. That make sense to me, w

[2021-08-10 19:29] kenba commented on #26
Yes Volker that makes sense.
Would you like to submit a PR for it?

[2021-08-10 19:33] kenba commented on #25
Thank you Itay, if you are happy with the new method then please feel free to close this issue.

[2021-08-10 19:34] #25 closed

[2021-08-11 09:35] vmx opened #28 "CI running on main branch only"
Does the CI intentionally only run on the `main` branch? I think it would make sense to let CI run on pull requests on the `development` branch.

[2021-08-13 08:35] #26 closed

[2021-08-13 08:48] kenba commented on #28
Agreed, CI changed.

[2021-08-13 08:48] #28 closed

[2021-08-13 11:25] vmx opened #29 "Mutability of sub-buffers"
In my code I write to a sub-buffer. Due to https://github.com/kenba/opencl3/pull/27 this sub-buffer needs to be mutable. The buffer the sub-buffer is created from via [`Buffer::create_sub_buffer()`](https://docs.rs/opencl3/0.3.1/opencl3/memory/struct.Buffer.html#method.create_sub_buffer) doesn't need (in the Rust type system sense) to be mutable. Though it actually mutates.

I haven't encountered

[2021-08-14 08:21] kenba commented on #29
You raise an interesting point Volke. I don't know a Rust pattern for handling this situation either.
I shall leave this issue open as a question in the hope that someone does know a good solution for this situation.

[2021-08-16 09:56] vmx commented on #29
A colleague of mine pointed me to https://docs.rs/bytes/1.0.1/bytes/index.html. I then also started to prepare a minimal example, to make the problem easier to understand for people that are not into OpenCl: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=2f92e740e64e415dc46474fc397da96f. It doesn't compile and it made me realize how things in pure Rust, without the FFI bor

[2021-08-17 16:37] vmx opened #30 "opencl3 cannot be compiled with OpenCl 1.2 features only"
Currently it is not possible to compile `opencl3` with only OpenCL 1.2 features enabled.

Background is that I only use OpenCL 1.2 features in my code and MacOS only supports OpenCL 1.2, hence I'd like to compile a version without OpenCL 2.0 support, as else there would be linker issues. (btw: I also wonder why they are included although they are not used, perhaps it's because `#[inline]` is used

[2021-08-17 18:46] kenba commented on #29
Thank you Volker.
I think that you are correct. `cl_mem` needs both immutable and mutable traits like bytes in order to define immutable and mutable Buffers.
However, in addition to `Buffer` and `BufferMut`, this will also "bubble up" to `Image` and maybe `Sampler` too.
Note: I don't think that this should affect `Pipe`, since a `Pipe` must be mutable, however, it may have to in order to keep the

[2021-08-17 19:02] kenba commented on #30
Volker, I'm sorry to hear that the `cl3` and `opencl3` versioning is causing you so much trouble.
Unfortunately, I've only been using OpenCL 2.0 (or above) ICDs to test the newer features and I was unaware that there compatibility issues with OpenCL 1.2.

Please feel free to submit a PR for this and `cl3` to fix the build issues you have on your Mac.

[2021-08-18 19:10] vmx commented on #30
PR for `cl3` is ready: https://github.com/kenba/cl3/pull/9. The features now work like in `cl-sys`, where the feature is specified on the version they got introduced.

While working on it, I noticed a few things. I'm happy to open separate bug reports, but I though I mention them here first:

 - It would make sense to run `cargo fmt` and `cargo clippy` in `cl3` and also enforce it on CI, once all

[2021-08-20 17:29] kenba commented on #30
@vmx your PR is now in version 0.4.0 of the library on crates.io.

Personally, I would prefer to see `cl-sys` properly maintained rather than create a new fork. However, that may not be possible...

Although It's a nice idea to use the features to deprecate functions, I agree with you that it is probably more trouble than it is worth. I tried to use Rust deprecated attributes, but `clippy` wasn't

[2021-08-20 18:28] vmx commented on #30
Sadly this issue isn't fixed in this release. The `cl` dependency in the `Cargo.toml` needs to be:

[code]

Else `cl` is compiled with the default features (hence also `CL_VERSION_2_0`) enabled. The top section

[code]

already makes sure that `CL_VERSION_1_2` and `CL_VERSION_2_0` are correctly set by default.

[2021-08-21 06:46] kenba commented on #30
No problem Volker, I'll change the cl3 line.

[2021-08-21 06:55] kenba commented on #30
@vmx I've committed the change and updated the library to version 0.4.0 on crates.io.

[2021-08-22 11:30] vmx commented on #30
Thanks for the fix, I can confirm that it works now.

[2021-08-22 11:30] #30 closed

[2021-09-04 17:40] KarelPeeters opened #32 "Example from readme has zero output on GTX 1060 Max-Q"
I'm getting started with OpenCL, and I'm trying out this crate. I started with the example in the readme. I had to add some extra code at the top to pick a device and define `svm_capability`, I hope I did that correctly. I also print a few bits of debug info about the device, in the end this is the full code that I run:

https://gist.github.com/KarelPeeters/74a864d42af4b1be5f8d8b4a5aed675d

The ou

[2021-09-05 07:42] kenba commented on #32
Hi Karel, I'm sorry to say that it looks like your Nvidia graphics card does not support `SVM` which is a key OpenCL 2.0 feature.

Nvidia's support for OpenCL has always been poor, as this 5 year old article shows: https://forums.developer.nvidia.com/t/opencl-2-x-support-plans/44215. Many people believe that it is a deliberate strategy by Nvidia to encourage developers to use their (proprietary) C

[2021-09-05 10:13] KarelPeeters commented on #32
Ah that's unfortunate, and indeed `test_opencl_1_2_example` does seem to work, I'll try to continue with the older OpenCL features then.

It's strange that this check inside `SvmVec` passes, even though actually using it doesn't work. Is that still a bug in this crate or should I check this stuff myself before trying to instantiate an `SvmVec`?

https://github.com/kenba/opencl3/blob/71c8b8594b49f2

[2021-09-05 16:16] kenba commented on #32
I'm sorry Karel, but my previous answer was incorrect: your Nvidia graphics card *does* support SVM.
It supports `CL_DEVICE_SVM_COARSE_GRAIN_BUFFER`, see [CL_DEVICE_SVM_CAPABILITIES](https://www.khronos.org/registry/OpenCL/specs/3.0-unified/html/OpenCL_API.html#CL_DEVICE_SVM_CAPABILITIES).

Therefore, you can still use an `SvmVec`, however you must also use `clEnqueueMapBuffer` and `clEnqueueUnmap

[2021-09-05 18:10] KarelPeeters commented on #32
Are you sure it's possible to use `enqueue_map_buffer` for this? It takes a `&Buffer<T>`, which I don't have. I tried it by manually calling `cl3::command_queue::enqueue_map_buffer`, which looks like this:

[code]

But that yields `ClError(-34)`, ie. `CL_INVALID_CONTEXT`, I assume because the `Svm`  is not actually a buffer. It's not super important since I can just use actual `Buffer`s like in th

[2021-09-06 07:43] kenba commented on #32
Sorry Karel but I'm *not* sure that it's possible to use `enqueue_map_buffer`.
I took that from the OpenCL 3.0 API, which goes into more detail about it here: [SVM sharing granularity](https://www.khronos.org/registry/OpenCL/specs/3.0-unified/html/OpenCL_API.html#_svm_sharing_granularity_coarse_and_fine_grained_sharing).

Unfortunately, I've not used coarse grained SVM and I think that you are cor

[2021-09-08 07:14] Draghtnod opened #33 "Coarse-grained SVM has to be mapped before usage!"
I have a system with CL_DEVICE_SVM_COARSE_GRAIN_BUFFER only.
SVMVec does not work as expected, since the buffer has to be mapped via CL_MAP_READ / CL_MAP_WRITE before reading / writing and unmapped before executing a kernel. While an SVM is mapped, you cannot grow it. So SVMVec::push() ect. won't work. Also, SVMVec::with_capacity_zeroed() does not zero the values, since it doesn't map.

See https:

[2021-09-08 09:14] Draghtnod commented on #33
Here is a modified sample part of the Readme.md that works for me:
[code]
And then I could either:
[code]
Or just:
[code]
Which seems to sync the memory automatically.
Either way, it takes away a lot of comfort.

[2021-09-08 19:00] kenba commented on #33
Thank you for taking the time to analyse this @Draghtnod.
Your issue is closely related to issue #32, which also involves `CL_DEVICE_SVM_COARSE_GRAIN_BUFFER` support.

I would like to fix this issue in `SvmVec`, but as you point out (and the linked Intel article explains), coarse grained SVM needs to be mapped *before* it can be grown or initialised.

The easiest solution for me is to ensure that

[2021-09-08 23:21] KarelPeeters commented on #32
I'll just continue with Buffers for now, it's not that big of a deal.

Is there any situation it which it makes sense to instantiate an `SvmVec` on a system that does not support fine-grained SVM? Maybe the `CL_DEVICE_SVM_COARSE_GRAIN_BUFFER |` part in the assert I linked above can just be removed?

[2021-09-10 15:14] kenba commented on #33
@Draghtnod there is a test `test_opencl_svm_example` in [integration_test.rs](https://github.com/kenba/opencl3/blob/main/tests/integration_test.rs) that shows how to use both fine and coarse grained SVM. However, the coarse grained SVM test was incorrect. Fortunately, I've been able to update one of my systems and I've now corrected it to call `enqueue_svm_map` *before* setting the values in the i

[2021-09-10 15:18] kenba commented on #32
@KarelPeeters yes I'm sure that there are many situations where you may want to  instantiate an `SvmVec` on a system that does not support fine-grained SVM.

Please see #33 and `test_opencl_svm_example` in [integration_test.rs](https://github.com/kenba/opencl3/blob/main/tests/integration_test.rs) for an example on how to use coarse grained SVM in your system. I shall update the documentation in du

[2021-09-12 11:13] kenba commented on #32
@KarelPeeters I've just incorporated changes to fix this issue in version 0.5 of the library on [crates.io](https://crates.io/crates/opencl3).
If you are satisfied with the changes then please close this issue.

[2021-09-12 11:14] kenba commented on #33
@Draghtnod I've just incorporated changes to fix this issue in version 0.5 of the library on [crates.io](https://crates.io/crates/opencl3).
If you are satisfied with the changes then please close this issue.

[2021-09-12 14:21] KarelPeeters commented on #32
I think there's a small issue in the readme now, `ExecuteKernel::new` takes a `&Kernel` and the example is missing the `&`.

Otherwise everything looks great to me now, thanks a lot for all the help and for improvements!

[2021-09-12 17:17] KarelPeeters opened #34 "ClError should print human-readable message even for Debug output."
Currently, when experimenting with code and an `unwrap` happens, I get output like this:

[code]
And then I have to look through the possible error codes myself, which is not very convenient.

It's already possible to get a human-readable name for the error by using the `Display` trait, but that's not very useful since existing utilities (like `unwrap`) mostly use `Debug`.

[2021-09-12 20:02] KarelPeeters opened #35 "Superfluous/Misleading generic parameter in `ExecuteKernel::set_arg_local_buffer`"
Currently `ExecuteKernel::set_arg_local_buffer` has  a generic type parameter `T`. Even though it's never actually used. Initially I thought this meant the size was the length of the buffer (with the given data type), but it's indeed the size in bytes.

I think this generic parameter can just be removed.

https://github.com/kenba/opencl3/blob/f8f972e9a65899656e6cd03669f039b8f74976e0/src/kernel.rs#

[2021-09-13 18:40] kenba commented on #32
You are correct, that "`ExecuteKernel::new` takes a `&Kernel` and the example is missing the `&`".
However, *all* the integration tests are missing the `&` and compile and run fine without any `clippy` warnings, so it's not a problem.

[2021-09-13 18:43] kenba commented on #35
Agreed, generic type parameter removed on develop branch.

[2021-09-13 19:17] kenba commented on #34
I disagree. I made a deliberate decision to have different output for the `Display` and `Debug` traits.

`Debug` currently derives from the standard `Debug` trait. It's simple and always outputs the correct OpenCL error number which, whether you like it or not, is "human readable".

`Display` uses a match statement to all the *known* OpenCL error numbers. However, it will not have text for new Ope

[2021-09-13 19:20] KarelPeeters commented on #35
Great, thanks!

[2021-09-13 19:20] #35 closed

[2021-09-13 19:24] KarelPeeters commented on #32
Hmm that's strange I only made this issue because when running the example in the readme myself I got this error:

[code]

And it looks like the integration tests do use `&kernel`, see eg.

https://github.com/kenba/opencl3/blob/9bb74b6d271de490a1919f7b988dda613928844d/tests/integration_test.rs#L116

[2021-09-13 19:36] KarelPeeters commented on #34
I agree that getting `UNKNOWN_ERROR` back is undesirable, I've had a few `-999` errors already. Maybe always including both the error code and the readable string in the output would make sense?

The problem with the `?` operator is that is loses all context for where the error actually happened, which is a pain during prototyping and development. Additionally many of the errors returned by this A

[2021-09-14 19:17] kenba commented on #32
Sorry Karel, I was wrong. *All* the `Kernel` references in the `opencl2_kernel_test.rs` integration test are missing the `&` because they are references. You are quite right, *all* the `Kernel` references in the `integration_test.rs` file have the `&`.

PR #36 will fix this issue as well as making the example a working program.

[2021-09-14 19:23] KarelPeeters commented on #32
Great, then I think this issue is done.

[2021-09-14 19:23] #32 closed

[2021-09-15 12:02] Draghtnod commented on #33
@kenba I read your code changes and I think this is fine. `SvmVec` may still be useful on systems with `CL_DEVICE_SVM_COARSE_GRAIN_BUFFER`, so disabling it would be a shame. On the other hand, shifting the hustle of automatically queuing all the mapping/unmapping into `SvmVec`, so it feels like a fine grained buffer, would take away the flexibility to queue in an efficient manner. Leaving the mapp

[2021-09-15 12:02] #33 closed

[2021-09-15 19:07] kenba opened #37 "Implement Serde's Serialize, Deserialize for SvmVec"
The Rust API Guidelines recommend that "Types that play the role of a data structure should implement [Serialize](https://docs.serde.rs/serde/trait.Serialize.html) and [Deserialize](https://docs.serde.rs/serde/trait.Deserialize.html)", see: [C-SERDE](https://rust-lang.github.io/api-guidelines/interoperability.html#data-structures-implement-serdes-serialize-deserialize-c-serde). Therefore, SvmVec s

[2021-09-15 19:18] kenba opened #38 "SvmVec should support CL_DEVICE_SVM_FINE_GRAIN_SYSTEM"
Currently `SvmVec` does not support `CL_DEVICE_SVM_FINE_GRAIN_SYSTEM` memory, it expects the user to use a vector instead. `SvmVec` should support *all* types of shared virtual memory for ease of use.

[2021-09-17 15:16] kenba opened #39 "Update for latest OpenCL-Headers"
Update to latest Khronos [OpenCL-Headers](https://github.com/KhronosGroup/OpenCL-Headers) repo , as per issue kenba/cl3#10 in the `cl3` repo.

[2021-09-21 17:59] kenba commented on #39
Changes incorporated in version 0.5.2

[2021-09-21 17:59] #39 closed

[2021-09-21 19:57] kenba commented on #37
I have been able to implement `Serialize for SvmVec`. However, I cannot determine how to implement `Deserialize for SvmVec` because the [Deserialize](https://docs.serde.rs/serde/trait.Deserialize.html) method signature *only* takes a `Deserializer` parameter. However, it needs to take an additional `Context` parameter to allocate the `SvmVec` memory.

Has anyone got any ideas how to implement `Des

[2021-10-03 09:29] kenba commented on #38
`SvmRawVec` now uses `alloc` to allocate and deallocate system memory for `CL_DEVICE_SVM_FINE_GRAIN_SYSTEM` memory and `test_opencl_2_system_svm_example` has been added to test it.

[2021-10-03 09:29] #38 closed

[2021-10-03 09:42] kenba opened #40 "Replace `InfoType::to_string` calls with `From` trait calls for `cl3` version 0.5."
The fix for issue kenba/cl3#11 in the cl3 repo causes some of the Program and Kernel tests to fail as the `Display::to_string` implementation does not remove the trailing nulls as the  `InfoType::to_string` calls did after kenba/cl3#1.

The `to_string` calls should be replaced with calls to the `From` trait conversions.
Note: the other `to_*` calls should also use the  cl3 `From` trait conversions

[2021-10-09 10:06] kenba opened #41 "Remove cl3 `Info` enums to support new OpenCL versions and extensions."
Change interface to `cl3` for issue kenba/cl3#13.

[2021-10-09 13:35] kenba opened #42 "Add From trait where appropriate."
The [From](https://doc.rust-lang.org/std/convert/trait.From.html) trait should be used for conversions into and out of most of the opencl3 structs.

[2021-10-10 16:45] #40 closed

[2021-10-10 16:45] kenba commented on #42
Implemented in version 0.5.3.

[2021-10-10 16:45] #42 closed

[2021-10-12 08:58] vmx commented on #41
Is the idea to remove the info enums also from `opencl3`, or to move the enums from `cl3` to the higher level `opencl3`?

In case they are removed: I see the point, though it would remove type information, and to me one of rust strength is its type system. So I prefer if higher level APIs make use of types. Though perhaps there could even be yet another layer that is higher then `opencl3`, which u

[2021-10-13 09:07] vmx commented on #41
@kenba I had another look (especially at https://github.com/kenba/opencl3/commit/02d5f68e8ed5d499d10073b8c17cbd71b3f93a3b).  What I hadn't in mind anymore (sorry for not having a closer look before commenting) was that you provide methods in `opencl3`. This means that (hopefully) the usual code path wouldn't even need to make info calls directly. Given then I think it makes sense to make those cha

[2021-10-16 09:42] kenba commented on #41
@vmx Thank you Volker. I have implemented the changes in both libraries and updated them both to version 0.6.0 in crates.io.

BTW I've also implemented `UUID` and `LUID` types (see issue kenba/cl3#14), which I'm now having second thoughts about. Because if the driver returns a `Vec<u8>` of the wrong size, the `cl3` library will now panic. I'm considering reverting this change back to just returnin

[2021-10-17 16:12] vmx commented on #41
I like this change. The sizes of the IDs is specified in the OpenCL header files: https://github.com/KhronosGroup/OpenCL-Headers/blob/1aa1139b58a515877a923cce6b254e09d1b2fb2c/CL/cl_ext.h#L687-L688 Hence I don't see a reason why one shouldn't just depend on that information.

[2021-10-31 14:03] kenba commented on #34
I'm sorry @KarelPeeters but I'm not willing to change debug output because of the "UNKNOWN_ERROR" issue with new features and extensions.

Another way you could get an error name during prototyping and development is simply by calling `unwrap_or_else` instead of `unwrap`, e.g.:

        let value = device.half_fp_config().unwrap_or_else(|e| {
            println!("OpenCL error, {}", e);

[2021-10-31 14:03] #34 closed

[2021-11-12 15:26] kenba opened #43 "Add external memory, external semaphore, and semaphore provisional extensions"
Add latest Khronos extensions, as per issue kenba/cl3#16 in the cl3 repo.

[2021-11-12 16:09] kenba commented on #43
Extensions published in version 0.6.2.

[2021-11-12 16:09] #43 closed

[2021-11-20 09:39] kenba opened #44 "Add provisional command-buffer extension"
Add latest Khronos provisional command-buffer extension, as per issue kenba/cl3#17 in the cl3 repo.

[2021-12-07 16:59] itzmeanjan opened #45 "One question related to provided example"
Hello,

I was going through example provided [here](https://github.com/kenba/opencl3/blob/a3c6df0fd2b2ce52aecd302d685b612168e0996b/examples/basic.rs#L72-L76) and noticed buffer `x`, `y` are created with flag `CL_MEM_WRITE_ONLY` while `z` created with flag `CL_MEM_READ_ONLY`, although in [kernel](https://github.com/kenba/opencl3/blob/a3c6df0fd2b2ce52aecd302d685b612168e0996b/examples/basic.rs#L25-L3

[2021-12-09 17:22] kenba commented on #45
Well spotted Anjan!

I have indeed got the `CL_MEM_WRITE_ONLY` and `CL_MEM_READ_ONLY` flags the wrong way round.  I'm surprised that it worked!
I shall fix them in `basic.rs` and in `integration_test.rs`.

Thanks
Ken

[2021-12-10 15:21] itzmeanjan commented on #45
Yes, I also wrote one similar kind of example and it worked fine for me.

Thanks @kenba

I'm closing this issue.

[2021-12-10 15:21] #45 closed

[2021-12-17 07:52] jkelleyrtp commented on #37
I believe you want https://docs.serde.rs/serde/de/trait.DeserializeSeed.html

[2021-12-17 18:07] kenba commented on #37
Thank you Jonathan, `DeserializeSeed` looks perfect!

[2021-12-19 14:27] kenba commented on #37
Added `ExtendSvmVec` DeserializeSeed implementation for `SvmVec` and `opencl2serde.rs` example file in version `0.6.2` of the library.

[2021-12-19 14:27] #37 closed

[2021-12-30 09:53] kenba commented on #44
CommandBuffer added in release 0.6.3.

[2021-12-30 09:53] #44 closed

[2022-04-19 16:43] JonathanWoollett-Light opened #46 "Missing enumeration types?"
The method [opencl3::device::get_device_ids](https://docs.rs/opencl3/latest/opencl3/device/fn.get_device_ids.html) takes a `u64` for the `device_type` while the underlying method [`clGetDeviceIDs`](https://www.khronos.org/registry/OpenCL/sdk/1.0/docs/man/xhtml/clGetDeviceIDs.html) takes an enum for `device_type`.

Why here and in other similar circumstances is it being obfuscated to a `u64` when u

[2022-04-19 18:16] kenba commented on #46
Thank you for your observation @JonathanWoollett-Light.

The underlying method [clGetDeviceIDs](https://www.khronos.org/registry/OpenCL/sdk/1.0/docs/man/xhtml/clGetDeviceIDs.html) takes a `cl_device_type` for `device_type` , i.e. a `cl_bitfield` . The reason

is  because [bindgen](https://rust-lang.github.io/rust-bindgen/) converts the `cl_bitfield`  in [cl.h](https://github.com/KhronosGroup/OpenC

[2022-04-19 18:57] JonathanWoollett-Light commented on #46
I am familiar with this form of implementing options in C using bit-fields but it is a poor user interface when more explicit alternatives are available.

If the user can only query for one of the device types:
[code]
If the user can query for multiple of these types:
[code]
I'm still learning so I'm not 100% sure which case applies here, but I know in either case there is a more explicit definiti

[2022-04-20 17:24] kenba commented on #46
Thank you @JonathanWoollett-Light for your opinion on the: "poor user interface ... of implementing options in C using bit-fields".

However, I believe that you are overlooking the fundamental purpose of this library: it is a Rust interface to the [OpenCL C API](https://github.com/KhronosGroup/OpenCL-Headers/), so it conforms to the OpenCL C API, which uses bit-fields.

You have quoted my referenc

[2022-04-24 18:02] kenba opened #47 "Base `opencl3` on `opencl-sys` crate"
Changes for https://github.com/kenba/cl3/issues/22 use latest `cl3` crate for `cl-sys` crate obsolescence issue described in issue #30.

[2022-04-26 07:43] #46 closed

[2022-04-28 14:04] vmx opened #48 "Putting deprecation notices behind conditional attributes"
I'm compiling with only the `CL_VERSION_1_2` feature set. When I use `CommandQueue::create()` I get a deprecation warning like this:

    warning: use of deprecated associated function `opencl3::command_queue::CommandQueue::create`: From CL_VERSION_2_0 use create_command_queue_with_properties

This doesn't really apply, as I'm not using OpenCL 2.0.

I suggest enabling this warning only if `CL_VERS

[2022-04-28 17:44] kenba commented on #48
Thanks Volker, that's a great way of tying the deprecated notices to the correct OpenCL versions!

I've changed all the deprecated methods in this crate. I'll now go back to `cl3` and `opencl-sys` and fix the deprecated functions in those crates.

[2022-05-02 11:55] kenba commented on #48
Changes pushed to crates.io.

[2022-05-02 11:55] #48 closed

[2022-05-02 11:55] kenba commented on #47
Changes pushed to crates.io.

[2022-05-02 11:55] #47 closed

[2022-07-03 17:52] 9SMTM6 opened #49 "Option for fallible ExecuteKernel::set_arg or better Error messages"
Hey!

First of all, thanks for this crate. It has mostly worked out great (were getting to the mostly here;-P, wasn't a big issue).

Where I got a small issue, that was fixed quickly, was when I used the ExecuteKernel helper to execute. It turns out I set parameters wrong (usize instead of cl_int).

However the Error-Message I got, wasn't great:

[code]
After I Isolated where that code was getting

[2022-07-03 17:56] 9SMTM6 commented on #49
Oh, and the #Panics section in the documentation is wrong as it is right now, as it will also panic if you provide the wrong SIZED type, as I demonstrated (it would not panic on the wrong type, I assume, don't know OpenCL good enough).

[2022-07-05 09:05] kenba commented on #49
Thanks Samuel, I didn't consider these kinds of bugs when I designed the `ExecuteKernel` builder.
A better solution would be to return the error code instead of panicking. However, I'll need some time to investigate it and determine whether it's possible. What do you think?

[2022-07-05 09:30] 9SMTM6 commented on #49
Changing to Fallible API (=> returning a Result) is a breaking change, but I'd prefer it. Alternatively offer a fallible alternative and warn against the issues in the original method.

If you DO decide to return a result then it would probably be fitting to also embed the "too many arguments" situation in the error, some error enum like you'd do with thiserror.

It would also be great if you or I

[2022-07-09 10:01] kenba commented on #49
Having given this issue more consideration, changing to a Fallible API would be both a breaking change and a mistake.

This issue was due to a bug in your code: "It turns out I set parameters wrong (`usize` instead of `cl_int`)." so as you suggested, this is just a duplicate of #34.  I'm sorry that you had to look up `ClError(-51)` like a C/C++ developer would, but it "wasn't a big issue" for you.

[2022-07-09 10:45] 9SMTM6 commented on #49
Hmm, you're not wrong in that, if indeed it doesn't fail on the wrong type, you can't ensure entirely correct semantics anyways, perhaps it might even suggest a safety that isn't there.

I'll hopefully get to testing a bit more this afternoon to validate that strong suspicion (I wouldnt know how to test that with C APIs) and see if I can find other issues.

But I would like to highlight another is

[2022-07-09 12:38] 9SMTM6 commented on #49
Uff. I did plan to do this while writing the train, but there is an absolute chaos where I have to search for alternative routes, and can't find a place to sit because half the trains get dropped. Probably won't hear from me again today.

As of now I'm aware of the following panics:

* wrong amount of arguments
*

[2022-07-09 12:44] kenba commented on #49
I use panics for bugs, see "When panicking indicates a bug in the program" in [unwrapping-isnt-evil ](http://web.mit.edu/rust-lang_v1.25/arch/amd64_ubuntu1404/share/doc/rust/html/book/first-edition/error-handling.html#a-brief-interlude-unwrapping-isnt-evil).
"which, without enabling backtraces, doesn't show the line in the user's code "; then just enable `backtraces`!

However, I do agree with you

[2022-07-09 13:35] 9SMTM6 commented on #49
I do also panic and unwrap (or expect), but only if the I variants I test are these I have to uphold on my own. Otherwise IMO it's a good idea to leave the behavior to the user.

But anyways. I may not be able to use my Laptop, but I can write on mobile:

Regarding the match, wouldn't if let Err(e) improve that? Otherwise, you could also map the err case with map_err or similar before unwrapping.

[2022-07-10 07:33] kenba commented on #49
Thank you Samuel. I've changed the `unwrap`s to `map_err`s and committed the change to the develop branch.

[2022-07-10 12:33] 9SMTM6 commented on #49
Thanks! Would you at all be interested in a PR adding the track_caller attribute to improve where the error is shown to be thrown, or do you not want that complexity? I did look a bit closer at the documentation and it doesn't seem too difficult.

And the situation with a same-sized type is mentioned nowhere.

Otherwise I'd consider this closed.

[2022-07-10 16:58] kenba commented on #49
The situation with a same-sized type is a fundamental issue with using OpenCL; you must be careful when enqueueing OpenCL kernels. Using incorrect arguments is just one of many issues that require developers to take care - there's no borrow checker to save you from yourself.

Please feel free to raise a PR for the `track_caller` attribute.

[2022-07-10 20:24] 9SMTM6 commented on #49
Closing this as with the changes in #50 every mayor point has been addressed.

Thanks for your time!

[2022-07-10 20:24] #49 closed

[2022-07-22 02:57] awused opened #51 "Undefined behaviour when using underlying OpenCL pointers without any unsafe"
If the underlying OpenCL pointers to objects are used it's possible to exhibit undefined behaviour without any uses of unsafe in application code. This could happen when mixing opencl3 with another library, or trying to bypass the lack of Clone/Sync on types like Context.

[code]

[2022-07-22 03:43] awused opened #52 "CL_MEM_USE_HOST_PTR can result in undefined behaviour"
`CL_MEM_USE_HOST_PTR` is useful for performance but has additional requirements that need to be upheld by the program for it to be used safely. Looking at the example in https://github.com/kenba/opencl3/blob/main/examples/basic.rs, switching `x` to `CL_MEM_USE_HOST_PTR` like this will result in an error from OpenCL, which is the best case.

[code]

The allocation pointed to by the host pointer may

[2022-07-23 08:26] kenba commented on #51
You raise an interesting point but your example is unrealistic: explicitly releasing an OpenCL pointer using a lower level `cl3` library function is not something many developers would consider doing to a type which implements the `Drop` trait to release it for them! Note: the lack of Clone/Sync on Context is done for a good reason, see PR #7. You should consider *why* it’s not provided before att

[2022-07-23 08:31] kenba commented on #52
This is an OpenCL issue, it is *not* a bug that has been introduced by tis library.
Please read and understand the [OpenCL manual](https://registry.khronos.org/OpenCL/specs/3.0-unified/html/OpenCL_API.html) before trying to use advanced features like `CL_MEM_USE_HOST_PTR`.

[2022-07-23 18:24] awused commented on #52
I do understand the OpenCL documentation around `CL_MEM_USE_HOST_PTR` which is why I was so surprised that this code didn't require `unsafe` anywhere on my part. I know the bug hasn't been introduced, per se, by this library, but I would expect it to require a use of `unsafe` somewhere.

[2022-07-23 18:35] awused commented on #51
I actually did read through that bug report as this started in an attempt to replace the unmaintained `ocl` which does allow cloning of the thread safe C objects. Reading through those PRs and issues led me to believe `opencl3` was taking a very conservative approach for safety, since it would require an API redesign, which I accept the reasoning behind, but it then surprised me how easy it was to

[2022-07-25 18:17] kenba commented on #51
FYI there are no `release_*` and `retain_*` methods in this library, they are all functions in the `cl3` library.

It doesn't seem reasonable to me for the `release_*` and `retain_*` functions in the `cl3` library to be declared `unsafe` for this issue.

I would prefer to make the `get*` methods in this library unsafe, since that would require calls to `release_*` to be `unsafe`. However, as you p

[2022-07-26 02:21] awused commented on #51
I do generally see libraries take one of two paths: either leaving everything `unsafe` and doing no validation or trying to expose only safe operations with some `unsafe` escape hatches. Especially from the discussion around not making things `Sync` it seemed like this library was going beyond what is really required to make sure things are safer. As an example, `ocl` which I was trying to migrate

[2022-08-02 11:09] vmx commented on #51
I agree with @awused here. From the API docs it's not clear that those are `cl3` functions. Taking `opencl3::context` as example, perhaps it would make sense making the [`cl3::context` import ](https://github.com/kenba/opencl3/blob/a63f03d98e173fdfb590eb761fb5d7fadaf27e1d/src/context.rs#L15) private.

[2022-08-03 16:55] kenba commented on #51
Thank you @vmx I appreciate your thoughts on this issue.

I understand making the function imports private to clarify that they are `cl3` functions and *not* a part of the `opencl3` API. I agree that the `opencl3::context` module could just import the functions privately, while other modules (e.g. `memory`) could import the `cl3` functions privately and `cl3` constants and types publicly to minimi

[2022-08-04 09:33] vmx commented on #51
I would say it would be a first step. But probably most of `cl3` should be `unsafe`. I agree that having almost everything declared as `unsafe` is a bit painful to use, but sadly that's what OpenCL is. But I also agree with @awused, that I would expect that if I don't have any `unsafe` keyword in my own code, that I won't run into segmentation faults, no matter what I do.

This means that I'd like

[2022-08-06 09:21] kenba commented on #51
@vmx `OpenCL` has many functions that could be considered `unsafe` from a Rust perspective (see issue #52 ), but making *most* of `cl3` unsafe is overkill IMHO.

An intention of this library was to simplify the use of OpenCL objects by managing them using the `Drop` trait. @awused 's initial example shows that the `release_*` and `retain_*` functions of the `cl3` library are `unsafe` in this libra

[2022-08-06 19:59] awused commented on #51
That one is definitely unsafe from a Rust perspective, and it shouldn't be reachable in safe Rust. That one even more than this one because `CL_MEM_USE_HOST_PTR` is something actually used. Since it's a bit flag you have to get a little bit creative, but solutions exist to make `CL_MEM_USE_HOST_PTR` unsafe without requiring all buffer initialization code to be unsafe.

They're unsafe in any contex

[2022-08-09 19:36] kenba commented on #52
@awused is right. Any OpenCL functions that can lead to undefined behaviour in Rust should be declared `unsafe` in this library.

Note: they should also be declared `unsafe` in the `cl3` library.

[2022-08-09 19:45] kenba commented on #51
@awused I have created kenba/cl3#25 to fix this issue and reopened issue #52 to capture the issue with other functions and methods causing undefined behaviour.

I would appreciate it if you could list all the `cl3` functions that you believe can lead to undefined behaviour in kenba/cl3#26.

[2022-09-10 10:09] kenba commented on #51
Changes published to crates.io.

[2022-09-10 10:09] #51 closed

[2022-09-10 10:09] kenba commented on #52
Changes published to crates.io.

[2022-09-10 10:09] #52 closed

[2022-09-20 18:31] kenba opened #55 "Add Khronos cl_khr_command_buffer_mutable_dispatch extension"
Add Khronos cl_khr_command_buffer_mutable_dispatch extension, as per issue kenba/cl3#27 in the cl3 repo.

[2022-09-20 18:41] kenba commented on #55
This change has now been published in version 0.9.1 of the crate.

[2022-09-20 18:41] #55 closed

[2022-10-15 18:47] itayw opened #56 "Support for vector data types"
Thanks again for your hard work, amazing library.

I may be missing something, but does the library support vector data types, such as float4? I'm working on a project that could really benefit from being able to pack float4, but cannot find docs or support for it.

[2022-10-15 19:06] itayw commented on #56
Seems I answered my question, so I'll write what I did here for future reference and close.

[code]

The above is taken from the example and will use `long4`.

[2022-10-15 19:06] #56 closed

[2022-10-16 19:28] nworbnhoj opened #57 "signal: 11, SIGSEGV: invalid memory reference"
The following code compiles and `cargo test foo1` succeeds, but `cargo test` fails with:

`process didn't exit successfully: /home/foo/target/debug/deps/opencl3-594da37a386292da (signal: 11, SIGSEGV: invalid memory reference)`

Cargo.toml
[code]

main.rs
[code]

[2022-10-18 10:38] kenba commented on #57
Do you also get the fault when running the tests in single-threaded mode?
I.e.:

[code]

[2022-10-19 09:47] #57 closed

[2022-11-27 03:57] fwilliams42 opened #58 "Compile failure using CL_VERSION_2_2 feature due to unmarked unsafe function call in program.rs"
Including the "CL_VERSION_2_2" feature flag causes compilation to fail due to unmarked unsafe calls in the following functions in `program.rs`:
* `set_release_callback`
* `set_specialization_constant`

Steps to reproduce:
* Create a new project `cargo new opencl_test`
* Add the following to `Cargo.toml`:
[code]
* Compile with `cargo build`

Making the functions or calls unsafe allows for compilati